<main>
  <%= render "hero" %>

  <div class="bg-black">
    <div class="container">
      <%= render "video_section" %>

      <hr class="border-white">

      <%= render "testimonials_section" %>
    </div>
  </div>

  <div class="container">
    <%= render "pricing_section" %>

    <hr class="border-secondary-subtle">

    <%= render "faq_section" %>
  </div>
</main>
